extends ../base-master

block content
  link(rel="stylesheet" href="/css/users/profile.css")
  link(rel="stylesheet" href="/css/articles/all-articles.css")
  div.header.header-filter(style="background-image: url('/img/common/fitness-woman-5.jpg');")    
  div.profile-page
      div.main.main-raised
          div.profile-content
              div.container
                  div.row
                      div.profile
                          div.avatar
                              img(src="/img/user-images/" + foundUser.avatarName alt="Circle Image" class="img-circle img-responsive img-raised")          
                          div.name
                              h3.title #{foundUser.username}
                              h6 #{foundUser.firstname} #{foundUser.lastname}
                              if user.isTrainer || user.isAdmin
                                  h6.trainer-title FiTogether Trainer
                  div.row
                      div.col-md-6.col-md-offset-3
                          div.profile-tabs.nav-align-center
                              if foundUser.isTrainer || foundUser.isAdmin                    
                                div(class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1")
                                  ul(class="nav navbar-nav")
                                    li
                                      a(id="my-articles").profile-link Статии на #{foundUser.username}
                              if user
                                if friendship
                                  if !friendship.approved                                
                                    button(class="btn btn-info btn-round" disabled)
                                      i.material-icons &#xE01B
                                      |  Приятелство, изчакващо одобрение
                                  else if friendship.approved
                                    form(action="/chat/invitation" method="get")
                                      input(type="hidden" name="initiator" value=user.username)
                                      input(type="hidden" name="receiver" value=foundUser.username)
                                      input(type="submit" class="btn btn-info btn-round" value="Започни чат")
                                else
                                  input(type="hidden" name="receiver" id="invitation-receiver" value=foundUser.username)
                                  button(class="btn btn-info btn-round" id="friendship-request-button") 
                                    i.material-icons &#xE7FE                     
                                    |  Изпрати приятелство    

  script(src="/js/profile/profile-manager.js")
  script(src="/js/profile/profile-ajax.js")
  script(src="/js/utils/requester.js")
  script(src="/js/utils/notificator.js")
  script(src="/js/users-autocomplete.js")