extends ./profile

block content
    h3 Календарът на #{ calendar.calendarUser }
    div
        each val in calendar.workouts
            if moment() < val.date
                span #{moment(val.date).format('DD/MM/YYYY')}
                br
                each exercise in val.exercises
                    span #{exercise}
                    br
                br
    div
        form(method="post" action="/users/profile/my-calendar")
            div.form-group 
                div.col-md-3
                    <input name="date" class="datepicker form-control" type="text" value="11/20/2016"/>
                div.col-md-2
                    select(name="exerciseOne" placeholder="Първо упражнение").form-control
                        option(value="") Избери упражнение 1
                        for val in exercises
                            option(value="" + val.name) #{val.name}
                div.col-md-2
                    select(name="exerciseTwo" placeholder="Второ упражнение").form-control
                        option(value="") Избери упражнение 2
                        for val in exercises
                            option(value="" + val.name) #{val.name}
                div.col-md-2
                    select(name="exerciseThree" placeholder="Трето упражнение").form-control
                        option(value="") Избери упражнение 3
                        for val in exercises
                            option(value="" + val.name) #{val.name}
                div.col-md-2
                    select(name="exerciseFour" placeholder="Четвърто упражнение").form-control
                        option(value="") Избери упражнение 4
                        for val in exercises
                            option(value="" + val.name) #{val.name}
                input(type="submit" value="Добави тренировка" class="btn btn-success")   

