extends ../base-master

block content
    link(rel="stylesheet" href="/css/users/profile.css")
    link(rel="stylesheet" href="/css/articles/all-articles.css")

    div.header.header-default
    div.main.main-raised
        div.section.section-basic
            div.container-fluid
                div(class="content row" id="profile-container")
                    div.pull-left
                        if user.isTrainer || user.isAdmin
                            h3.trainer-title #{user.username}
                        else 
                            h3 #{user.username}
                        img(class="img-circle img-responsive" src="/img/user-images/" + user.avatarName id="avatar-image")
                    div(class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li
                                a(id="my-workouts").profile-link Тренировъчен Режим
                            li
                                a(id="my-foods").profile-link Хранителен Режим
                            li
                                a(id="my-friends").profile-link Приятели
                            li
                                if user.isTrainer || user.isAdmin
                                    a(id="my-articles").profile-link Моите Статии
                div.section.workouts-holder
                    h3 Тренировките на #{ user.username }
                    div.col-lg-6
                        div.workout-selector
                            div.datepicker-holder
                                label Избери дата:
                                input(name="date" id="workout-datepicker" class="datepicker form-control" type="text" value=moment().format("DD/MM/YYYY"))
                            div.form-group
                                select(name="exerciseOne" id="exercise-1" placeholder="Първо упражнение").form-control
                                    option(value="") Избери упражнение 1
                                    for val in exercises
                                        option(value="" + val.name) #{val.name}
                            div.form-group
                                select(name="exerciseTwo" id="exercise-2" placeholder="Второ упражнение").form-control
                                    option(value="") Избери упражнение 2
                                    for val in exercises
                                        option(value="" + val.name) #{val.name}
                            div.form-group
                                select(name="exerciseThree" id="exercise-3" placeholder="Трето упражнение").form-control
                                    option(value="") Избери упражнение 3
                                    for val in exercises
                                        option(value="" + val.name) #{val.name}
                            div.form-group
                                select(name="exerciseFour" id="exercise-4" placeholder="Четвърто упражнение").form-control
                                    option(value="") Избери упражнение 4
                                    for val in exercises
                                        option(value="" + val.name) #{val.name}
                            a(id="add-workout-button" class="btn btn-success") Добави Тренировка
                    div.col-lg-6.workout-list-holder
                        each val in calendar.workouts
                            if moment() <= moment(val.date)
                                div.calendar-section.single-workout-holder
                                    div.calendar-date
                                        span #{moment(val.date).format('DD/MM/YYYY')}
                                    each exercise in val.exercises
                                        span #{exercise}
                                        br
                                    br
                div.section.foods-holder
                    h3 Хранителния режим на #{ user.username }
                    div.col-lg-6
                        div.foods-selector
                            div.datepicker-holder
                                label Избери дата:
                                input(name="date" id="foods-datepicker" class="datepicker form-control" type="text" value=moment().format("DD/MM/YYYY"))
                            div.form-group
                                select(name="mealOne" id="meal-1" placeholder="Първо хранене").form-control.meal-form
                                    option(value="") Избери първо хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityOne" id="quantity-1" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealTwo" id="meal-2" placeholder="Второ хранене").form-control.meal-form
                                    option(value="") Избери второ хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityTwo" id="quantity-2" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealThree" id="meal-3" placeholder="Трето хранене").form-control.meal-form
                                    option(value="") Избери трето хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityThree" id="quantity-3" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealFour" id="meal-4" placeholder="Четвърто хранене").form-control.meal-form
                                    option(value="") Избери четвърто хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityFour" id="quantity-4" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealFive" id="meal-5" placeholder="Пето хранене").form-control.meal-form
                                    option(value="") Избери пето хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityFive" id="quantity-5" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealSix" id="meal-6" placeholder="Шесто хранене").form-control.meal-form
                                    option(value="") Избери шесто хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantitySix" id="quantity-6" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealSeven" id="meal-7" placeholder="Седмо хранене").form-control.meal-form
                                    option(value="") Избери седмо хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantitySeven" id="quantity-7" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            div.form-group
                                select(name="mealEight" id="meal-8" placeholder="Седмо хранене").form-control.meal-form
                                    option(value="") Избери осмо хранене
                                    for val in foods
                                        option(value="" + val.title + "|" + val.details + "|" + val.calories) #{val.title} #{val.details}
                                select(name="quantityEight" id="quantity-8" placeholder="Количество").form-control.quantity-form
                                    option(value="") Избери грамаж
                                    option(value="100") 100
                                    option(value="200") 200
                                    option(value="300") 300
                                    option(value="400") 400
                                    option(value="500") 500
                                    option(value="1000") 1000
                            a(id="add-menu-button" class="btn btn-success") Добави Хранене
                    div.col-lg-6.menus-list-holder
                        each val in calendar.menus
                            div.calendar-section.single-menu-holder
                                div.calendar-date
                                    span #{moment(val.date).format('DD/MM/YYYY')}
                                each meal in val.meals
                                    span #{meal.title} #{meal.details} - #{meal.calories} кал.
                                    br
                                span Общо калории за деня: #{val.totalCalories}
                                br
                div.section.articles-holder
                    h3 Статии от #{ calendar.calendarUser }
                        each val in articles
                            div.article-container
                                a(href="/articles/single-article?title=" + val.mainHeader).article-link #{val.mainHeader}
                                br
                                small.article-subheader #{val.subHeader}
                        if user.isTrainer || user.isAdmin
                            br
                            a(href="/articles/create", title="create article").btn.btn-success Създай Статия                      
                        
    script(src="/js/profile/profile-manager.js")
    script(src="/js/profile/profile-ajax.js")
    script(src="/js/utils/requester.js")
    script(src="/js/utils/notificator.js")