extends ../base-master
include ../mixins/recipes-pagination

block content
    link(rel="stylesheet" href="/css/articles/all-articles.css")
    script(src="/js/likes.js")

    div.header.header-default
    div.main.main-raised
        div.section.section-basic
            div.container-fluid
                each val in recipes
                  div.article-container
                    a(href="/recipes/single-recipe?title=" + val.title).article-link #{val.title}
                    br

                    if user
                      div(data-id=val._id)
                        span.label.label-success
                          i.material-icons.like-icon thumb_up &nbsp
                          span.like-value #{val.likes}
                        a.btn.btn-success.btn-sm.like-button Харесва ми

                    else
                      div(data-id=val._id)
                        span.label.label-success
                          i.material-icons.like-icon thumb_up &nbsp
                          span.like-value #{val.likes}

            div.divider

    +recipesPagination(page, pages)