extends ../base-master

block content
  div.header.header-default
  div.main.main-raised
    div.section.section-basic
      div.container-fluid
      table.table.table-hover
        thead
          tr 
            th Група храна Детайли
            th Калории
            th Белтъчини
            th Въглехидрати
            th Мазнини
        tbody
        each food in foods
          tr
            td #{food.title} #{food.details}
            td #{food.calories}
            td #{food.proteins}
            td #{food.carbs}
            td #{food.fats}