extends ../sub-headers/sub-header-default
block content
	link(rel="stylesheet" href="/css/articles/recipe-detail.css")
	div.container
	table
	thead
	tr: th
		td Група храна Детайли
		td Калории
		td Белтъчини
		td Въглехидрати
		td Мазнини
		br
		tbody
		each food in foods
			td #{food.title} #{food.details}
			td #{food.calories}
			td #{food.proteins}
			td #{food.carbs}
			td #{food.fats}
			br
